<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schere Stein Papier (Brunnen Streichholz)</title>
    <link rel="stylesheet" type="text/css" href="/css/styling.css"/>
    <link id="favicon" rel="icon" href="/img/shinchan.ico" type="image/x-icon">
</head>
<body>
<section id="startingSection">
    <h1>Willkomen zu Schere Stein Papier (Brunnen Streichholz)!</h1>
    <h3>Bitte Namen eingeben um zu starten</h3>
    <label for="nameInputBox">Name:</label>
    <input id="nameInputBox" type="text" required>
    <button id="startBtn" type="button" autofocus>Spiel starten</button>
    <h4>Weitere begeisterte Spieler:</h4>
    <ul id="playerList"></ul>
</section>
<section id="gameSection" class="hidden">
    <button id="backBtn" type="button">Zurück zum Start</button>
    <br>
    </span><span id="playerName" class="small"></span>
    <h1>Das ist das beste Spiel der Erde!</h1>
    <section id="picks">
        <h2>Wähle Deine Hand</h2>
        <input type="radio" id="Stein" name="pick" value="0" autofocus>
        <label for="Stein">Stein</label>
        <input type="radio" id="Papier" name="pick" value="1">
        <label for="Papier">Papier</label>
        <input type="radio" id="Schere" name="pick" value="2">
        <label for="Schere">Schere</label><br>
        <button id="playBtn" type="button">Wählen</button>
    </section>
    <p id="timerField" class="small"></p>
    <p id="enemyPickField" class="big"></p>
    <p id="outcomeField" class="big"></p>
    <ul id="historyList" class="small"></ul>
</section>
<script src="/js/controller.mjs" type="module"></script>
<script src="/js/view.mjs" type="module"></script>
<script src="/js/model.mjs" type="module"></script>
<script src="/js/game-service.mjs" type="module"></script>
</body>
</html>